@import '../inc/vars';
@import '../inc/mixins';
table {
  line-height:1.25;
  .less {
    color:$red;
  }
  .more {
    color: $brightBlue;
  }
  &.table-legend {
    margin:20px 0 10px;

    td {
      vertical-align: middle;
      padding: 7px 10px;
      @media (min-width: $smMin), (min-device-width: $smMin) {
        &:nth-child(2){
          white-space: nowrap;
        }
      }
    }
    tr{
      &:nth-child(odd) {
        td{
          background-color: #f5f5f5;
          &:first-child {
            background-color: #ebf0f7;
          }
        }
      }
      &:nth-child(even){
        td{
          background-color: #fafafa;
          &:first-child{
            background-color: #dfe6f0;
          }
        }
      }
    }
  }
  &.table-checkered {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
    @media (max-device-width: $smMax), (max-width: $smMax) {
      width:100%;
    }

    td {
      vertical-align: middle;
      text-align: center;
      font-size:16px;
      padding: 7px 10px;
    }

    thead {

      th {
        @extend td;
        color: $navy;
        font-family: $fontSemibold;

        &:nth-child(odd) {
          background-color: #dfe6f0;
        }

        &:nth-child(even){
          background-color: #ebf0f7;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          td:nth-child(odd){
            background-color: #ebecec;
          }
          td:nth-child(even){
            background-color: #f5f5f5;
          }
        }

        &:nth-child(odd) {
          td:nth-child(odd) {
            background-color: #f5f5f5;
          }
        }
      }
    }
  }
}

.table-mask {
  max-height: 410px;
  overflow-y:hidden;
  overflow-x:scroll;
  h3 {
    font-family:$fontSemibold;
  }
}
.table-pulldown {
  background: url("/images/round-up-shadow.png") no-repeat top;
  position: relative;
  top: -10px;
  text-align: center;
  padding-top: 15px;

  .pulldown-body {
    border-top:1px solid #14324C;
    position:relative;
    top: -6px;
    height:80px;

    .pulldown-label {
      text-decoration: none;
      display:inline-block;
      padding:5px 45px;
      font-size: 16px;
      color: #fff;
      background-color: #14324C;
      position:relative;
      cursor: pointer;

      i.fa {
        display: block;
        @include transition(all 0.8s linear);
      }

      &:hover i.fa {
        font-size:25px;
      }
    }

    a.btn-download {
      @media (max-width: $smMax), (max-device-width: $smMax) {
        position: relative;
        margin:15px auto 0 auto;
        width:75%;
      }
      position: absolute;
      right: 0;
    }
  }
}

.table-center{
  float:none;
  clear:both;
  margin:0 auto;
}
.comparison-table{
  text-align: left;
  width:100%;
  th, td{
    text-align: left;
    padding: 10px 12px;
  }
  thead{
    background-color:$flatBlue;
    color:$white;
  }
  tbody{
    tr{
       background:#fff;
       border-bottom:1px solid darken($silver, 10);
        td:nth-child(2){ //the bad option
          background:darken($white,2);
        }
     }
  }
}