$font-icons: (
    analysis: "\f101",
    audit: "\f102",
    bigrig: "\f103",
    blog: "\f104",
    boat: "\f105",
    box-open: "\f106",
    box-open-alt: "\f107",
    calc: "\f108",
    calc-compare: "\f109",
    calc-insurance: "\f10a",
    calc-rates: "\f10b",
    cart: "\f10c",
    caution: "\f10d",
    check: "\f10e",
    checklist: "\f10f",
    chillin: "\f110",
    circular: "\f111",
    cloud: "\f112",
    cloud-computing: "\f113",
    computer: "\f114",
    data: "\f115",
    data-management: "\f116",
    dim: "\f117",
    download: "\f118",
    email: "\f119",
    excel: "\f11a",
    facebook: "\f11b",
    freight: "\f11c",
    freight-rates: "\f11d",
    freight-rates-alt: "\f11e",
    fuel-empty: "\f11f",
    fuel-full: "\f120",
    gl-coding: "\f121",
    google-plus: "\f122",
    gpi-history: "\f123",
    greater-good: "\f124",
    halo: "\f125",
    handshake: "\f126",
    happy-mac: "\f127",
    hi: "\f128",
    insurance: "\f129",
    intelliship: "\f12a",
    lightning: "\f12b",
    linkedin: "\f12c",
    logistics: "\f12d",
    money: "\f12e",
    money-bag: "\f12f",
    mouse: "\f130",
    negotiation: "\f131",
    network: "\f132",
    news: "\f133",
    noggin: "\f134",
    paper-audit: "\f135",
    paper-sign: "\f136",
    payment: "\f137",
    payment-alt: "\f138",
    phone: "\f139",
    phone-alt: "\f13a",
    pie-chart: "\f13b",
    piggybank: "\f13c",
    piggybank-alt: "\f13d",
    pin: "\f13e",
    plane: "\f13f",
    rain: "\f140",
    ready-pay: "\f141",
    reporting: "\f142",
    schedule: "\f143",
    shipments: "\f144",
    spot-quote: "\f145",
    starburst: "\f146",
    traffic: "\f147",
    train: "\f148",
    truckload-full: "\f149",
    truckload-ltl: "\f14a",
    truckload-small: "\f14b",
    twitter: "\f14c",
    visibility: "\f14d",
    visibility-copy: "\f14f",
    water: "\f14e",
);