@import '../inc/_vars.scss';
@import '../inc/_mixins.scss';

#hamburger{
  min-width:72px;
  float:right;
  clear:none;
  overflow:hidden;
  //position:absolute;
  position: relative;
  top: 6px;
  right:0;
  cursor: pointer;
  height:69px;
  @media(max-width:$xsMax){
    //position: fixed;
    top: 0px;
    right: 0px;
    z-index:350;
  }
  @media(min-width:950px){
    //display:none;
  }
}
// Hamburger Animation
#hamburger-stripes{
  width: 40px;
  height: 45px;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #888;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include transition(.25s ease-in-out);
    &:nth-child(1){  top: 7px; }
    &:nth-child(2){  top: 20px; }
    &:nth-child(3){  top: 20px; }
    &:nth-child(4){  top: 33px; }
  }
}
.open{
  #hamburger-stripes{
    span{
      &:nth-child(1), &:nth-child(4){
        opacity: 0;
        top: 20px;
        width:0;
        left:50%;
      }
      &:nth-child(2){
        @include transform(rotate(45deg));
      }
      &:nth-child(3){
        @include transform(rotate(-45deg));
      }
    }
  }
}