.stripe-title-box{
  border-top:#EED119 solid 2px;
  width: 100%;
  margin-top:60px;
  margin-bottom:45px;
}
.stripe-title{
  margin-top: -35px;
  color:$y2020;
  font-family: 'sign_painter', cursive !important;
  font-size: 3em !important;
}